.sidebar {
    position: fixed;
    top: 0;
    right: -360px;
    /* Adjust the width of the sidebar here */
    width: 360px;
    /* Adjust the width of the sidebar here */
    height: 100vh;
    background-color: rgba(13, 17, 28, 0.2);
    transition: right 0.3s ease-in-out;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    flex-direction: row;
    z-index: 100000;
}

.sidebar-pad-left {
    width: 60px;
    transition: left 0.3s ease-in-out;
    background-color: rgba(13, 17, 28, 0.2);
    cursor: pointer;
}

.sidebar-pad-left:hover {
    background-color: rgba(13, 17, 28, 0.5);
}

.sidebar-inner {
    width: 400px;
    /* Adjust the width of the sidebar here */
    height: 100vh;
    background-color: rgba(13, 17, 28, 1);
    transition: right 0.3s ease-in-out;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 0.5px solid darkslategray;
}

.sidebar.open {
    right: 0;
}

.toggle-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.content {
    padding: 20px;
}